/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

.optimize-btn {
  font-size: 120%
}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
	font: 16px Georgia, Times, Times New Roman, serif;
	line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
}

.wizweek-brand {
  font-size: 120%;
  font-style: italic;
  color: #337ab7;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.dashboard {
  padding-top: 2em;
}

.main-content {
  padding-top: 3.5em;
}

.jumbotron {
  padding-top: 4em;
}

footer.page-footer {
  color: #99979c;
  padding-top: 1.2em;
  padding-bottom: 0.6em;
  background: #2a2730;
  border-top: 1px solid black;
}

#toast-container .toast {
  opacity: 1.0;
}

/* This will cause the footer to always be at the bottom of the page, see:
http://stackoverflow.com/questions/12239166/footer-at-bottom-of-page-or-content-whichever-is-lower */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
article {
  flex: 1;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
