<div class="row">
  <div class="col-md-5"><h3>Tasks</h3></div>
</div>

Welcome {{dash.auth.userName}}!

This page will soon display a list of tasks.
<br/><br/>

<section id="todoapp">
  <header id="header">
    <div class="row todo-headers">
      <div class="first-todo-header col-md-4">Task</div>
      <div class="col-md-2">Hours</div>
      <div class="col-md-2">Business value</div>
      <div class="col-md-2">Deadline</div>
      <div class="col-md-2">Min start date</div>
    </div>

    <form id="todo-form" ng-submit="addTodo()">
      <div class="row">
        <div class="col-md-4">
          <input class="new-todo first-field" placeholder="Project/task name?" ng-model="newTodo" ng-disabled="saving" autofocus>
        </div>
        <div class="col-md-2">
          <input class="new-todo" placeholder="Estimate it?">
        </div>
        <div class="col-md-2">
          <input class="new-todo" placeholder="Value points?">
        </div>
        <div class="col-md-2">
          <input class="new-todo" placeholder="(Optional)">
        </div>
        <div class="col-md-2">
          <input class="new-todo" placeholder="(Optional)">
        </div>

      </div>
  </header>
  <section id="main" ng-show="todos.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
    <ul id="todo-list">
      <li ng-repeat="todo in todos track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
          <label ng-click="editTodo(todo)">{{todo.title}}</label>
          <button class="destroy" ng-click="removeTodo(todo)"></button>
        </div>
        <form ng-submit="saveEdits(todo, 'submit')">
          <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')"
            todo-focus="todo == editedTodo">
        </form>
      </li>
    </ul>
  </section>
</section>
