<div class="row">
  <div class="col-md-5"><h3>Tasks</h3></div>
</div>

Welcome {{dash.auth.userName}}!

This page will soon display a list of tasks.

<div class="todoapp">
  <!-- uiView: --><div class="ng-scope"><app class="ng-scope ng-isolate-scope"><header-component todos="$ctrl.todos" class="ng-isolate-scope"><header class="header">
          <h1>todos</h1>
          <todo-text-input new-todo="true" on-save="$ctrl.handleSave(text)" placeholder="What needs to be done?" class="ng-isolate-scope"><input class="textInput ng-pristine ng-valid new-todo ng-empty ng-touched" ng-class="{'edit': $ctrl.editing, 'new-todo': $ctrl.newTodo}" ng-model="$ctrl.text" ng-keypress="$ctrl.handleSubmit($event)" ng-blur="$ctrl.handleBlur()" placeholder="What needs to be done?" type="text"></todo-text-input>
      </header></header-component>
      <main-section todos="$ctrl.todos" filter="$ctrl.filter" class="ng-isolate-scope">
        <section class="main">
          <!-- ngIf: $ctrl.todos.length --><input ng-if="$ctrl.todos.length" class="toggle-all ng-scope" type="checkbox" ng-checked="$ctrl.todos.reduce($ctrl.completeReducer, 0) === $ctrl.todos.length" ng-click="$ctrl.handleCompleteAll()"><!-- end ngIf: $ctrl.todos.length -->
          <ul class="todo-list">
            <!-- ngRepeat: todo in $ctrl.todos.filter($ctrl.selectedFilter.filter) --><todo-item ng-repeat="todo in $ctrl.todos.filter($ctrl.selectedFilter.filter)" todo="todo" on-destroy="$ctrl.handleDestroy(id)" on-change="$ctrl.handleChange(id)" on-save="$ctrl.handleSave(todo)" class="ng-scope ng-isolate-scope"><li ng-class="{'editing': $ctrl.editing, 'completed': $ctrl.todo.completed}" class="">
                <!-- ngIf: $ctrl.editing -->
                <!-- ngIf: !$ctrl.editing --><div class="view ng-scope" ng-if="!$ctrl.editing">
                  <input class="toggle" type="checkbox" ng-checked="$ctrl.todo.completed" ng-click="$ctrl.onChange({id: $ctrl.todo.id})">
                  <label ng-dblclick="$ctrl.handleDoubleClick()" class="ng-binding">Use AngularJS</label>
                  <button class="destroy" ng-click="$ctrl.handleDestroy($ctrl.todo.id)"></button>
                </div><!-- end ngIf: !$ctrl.editing -->
            </li></todo-item><!-- end ngRepeat: todo in $ctrl.todos.filter($ctrl.selectedFilter.filter) -->
          </ul>
          <!-- ngIf: $ctrl.todos.length --><footer-component ng-if="$ctrl.todos.length" completed-count="$ctrl.todos.reduce($ctrl.completeReducer, 0)" active-count="$ctrl.todos.length - $ctr.todos.reduce($ctrl.completeReducer, 0)" filter="$ctrl.selectedFilter" on-clear-completed="$ctrl.handleClearCompleted()" on-show="$ctrl.handleShow(filter)" class="ng-scope ng-isolate-scope"><footer class="footer">
              <span class="todo-count ng-binding">
                <strong class="ng-binding">1</strong> item left
              </span>
              <ul class="filters">
                <!-- ngRepeat: filter in $ctrl.filters --><li key="filter" ng-repeat="filter in $ctrl.filters" class="ng-scope">
                  <a ng-class="{'selected': filter === $ctrl.selectedFilter.type}" ng-click="$ctrl.handleChange(filter)" class="ng-binding selected">All</a>
                  </li><!-- end ngRepeat: filter in $ctrl.filters --><li key="filter" ng-repeat="filter in $ctrl.filters" class="ng-scope">
                  <a ng-class="{'selected': filter === $ctrl.selectedFilter.type}" ng-click="$ctrl.handleChange(filter)" class="ng-binding">Active</a>
                  </li><!-- end ngRepeat: filter in $ctrl.filters --><li key="filter" ng-repeat="filter in $ctrl.filters" class="ng-scope">
                  <a ng-class="{'selected': filter === $ctrl.selectedFilter.type}" ng-click="$ctrl.handleChange(filter)" class="ng-binding">Completed</a>
                </li><!-- end ngRepeat: filter in $ctrl.filters -->
              </ul>
              <!-- ngIf: $ctrl.completedCount > 0 -->
          </footer></footer-component><!-- end ngIf: $ctrl.todos.length -->
      </section></main-section>
  </app></div>
</div>
