<div class="row">
  <div class="col-md-5"><h3>Tasks</h3></div>
</div>

Enter and update your tasks below, and then when you're ready to have WizWeek
create an optimized schedule for you, click the button below. The schedule will
automatically synced to your tasks calendar and schedule around your appointments
calendar as you configured them in the settings.
<br/><br/>

<div>
  <button class="btn btn-success btn-lg" ng-click="dash.optimize()"
    ng-disabled="dash.optimizing">Optimize my schedule!</button>
  <div class="optimize-message">{{dash.optimizeMessage}}</div>
</div>

<br/><br/>

<section id="todoapp">
  <header id="header">
    <div class="row todo-headers">
      <div class="first-todo-header col-md-5">Task</div>
      <div class="col-md-1 right-align">Duration</div>
      <div class="col-md-1 right-align">Value</div>
      <div class="col-md-2">Deadline</div>
      <div class="col-md-2">Min start</div>
    </div>

    <form id="todo-form" ng-submit="dash.addTodo()">
      <div class="row">
        <div class="col-md-5">
          <input id="title" class="new-todo first-field" placeholder="Project or task name?"
           ng-model="dash.newTodo.title" ng-disabled="saving" autofocus>
        </div>
        <div class="col-md-1">
          <input class="new-todo right-align" placeholder="Hours"
          ng-model="dash.newTodo.hours" ng-disabled="saving">
        </div>
        <div class="col-md-1">
          <input class="new-todo right-align" placeholder="Points"
          ng-model="dash.newTodo.value" ng-disabled="saving">
        </div>
        <div class="col-md-2">
          <input type="text" class="new-todo" uib-datepicker-popup="shortDate" 
            ng-model="dash.newTodo.deadline" close-text="Close" is-open="dash.deadlinePopupOpen"
            on-open-focus="false" placeholder="(Optional)" ng-focus="dash.deadlineFocused()" />
        </div>
        <div class="col-md-2">
          <input type="text" class="new-todo" uib-datepicker-popup="shortDate" 
            ng-model="dash.newTodo.minStart" close-text="Close" is-open="dash.minStartPopupOpen"
            on-open-focus="false" placeholder="(Optional)" ng-focus="dash.minStartFocused()" />
        </div>
        <div class="col-md-1">
          <input class="todo-save-btn btn btn-default" type="submit" class="btn btn-success" value="Save">
        </div>
      </div>
    </form>

  </header>
  <section id="main" ng-show="dash.todos.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="dash.allChecked" ng-click="dash.markAll(allChecked)">
    <ul id="todo-list">
      <li ng-repeat="todo in dash.todos track by $index" ng-class="{completed: todo.completed, editing: todo == dash.editedTodo}">

        <div class="view">
          <div class="row">
            <div class="col-md-5">
              <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="dash.toggleCompleted(todo)">
              <label class="first-label" ng-click="dash.editTodo(todo)">{{todo.title}}</label>
            </div>
            <div class="col-md-1">
              <label class="right-align" ng-click="dash.editTodo(todo)">{{todo.hours}}h</label>
            </div>
            <div class="col-md-1">
              <label class="right-align" ng-click="dash.editTodo(todo)">{{todo.value}}p</label>
            </div>
            <div class="col-md-2">
              <label ng-click="dash.editTodo(todo)">{{todo.deadline | date:'shortDate'}}</label>
            </div>
            <div class="col-md-2">
              <label ng-click="dash.editTodo(todo)">{{todo.minStart | date:'shortDate'}}</label>
            </div>

            <button class="destroy" ng-click="dash.removeTodo(todo)"></button>
          </div>
        </div>

        <form ng-submit="dash.saveEdits(todo, 'submit')">
          <div class="row">
            <div class="col-md-5">
              <input class="edit first-field" ng-trim="false" ng-model="todo.title"
              todo-focus="todo == dash.editedTodo">
            </div>
            <div class="col-md-1">
              <input class="edit" placeholder="Hours"
              ng-model="todo.hours">
            </div>
            <div class="col-md-1">
              <input class="edit" placeholder="Points"
              ng-model="todo.value">
            </div>
            <div class="col-md-2">
              <input class="edit" uib-datepicker-popup="shortDate" 
              ng-model="todo.deadline" close-text="Close" placeholder="(Optional)"/>
            </div>
            <div class="col-md-2">
              <input class="edit" uib-datepicker-popup="shortDate" 
              ng-model="todo.minStart" close-text="Close" placeholder="(Optional)"/>
            </div>
            <div class="col-md-1">
              <input class="edit todo-save-btn btn btn-default" type="submit" value="Save">
            </div>
          </div>
        </form>


      </li>
    </ul>
  </section>
</section>
