<div class="row">
  <div class="col-md-5"><h3>Settings</h3></div>
</div>

<div class="row">
  <div class="col-md-5"><h4>Calendars</h4></div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <label for="appointments-cal">Appointments calendar</label>
      <select id="appointments-cal" class="form-control"
        ng-options="cal.id as cal.summary for cal in $ctrl.calendars"
        ng-model="$ctrl.settings.appointmentsCalId" ng-change="$ctrl.saveSettings()"
        >
      </select>
      WizWeek will treat events on this calendar as fixed meetings and will schedule your project tasks around them.
    </div>
  </div>

  <div class="col-md-5">
    <div class="form-group">
      <label for="tasks-cal">Tasks calendar (will be overwritten)</label>
      <select id="tasks-cal" class="form-control"
        ng-options="cal.id as cal.summary for cal in $ctrl.calendars"
        ng-model="$ctrl.settings.tasksCalId" ng-change="$ctrl.saveSettings()"
        >
      </select>
      WizWeek will <b>overwrite future events</b> on this calendar and replace them with automatically scheduled project work tasks.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h4>Work Schedule</h4>
    WizWeek will schedule your project tasks within your work hours, except when you have an event in your appointments calendar.
  </div>
</div>

<div class="row">
  <div class="col-md-1"><h5>Day</h5></div>
  <div class="col-md-2"><h5>Start</h5></div>
  <div class="col-md-2"><h5>End</h5></div>
</div>

<div class="row" ng-repeat="day in $ctrl.weekDays">
  <div class="col-md-1">{{day}}</div>
  <div class="col-md-2">
    <div uib-timepicker hour-step="1" minute-step="1" show-spinners="false"
      mousewheel="false" pad-hours="false"
      ng-model-options="{ debounce:800 }" ng-change="$ctrl.saveSettings()"
      ng-model="$ctrl.settings.workStartTimes[$index]"></div>
  </div>
  <div class="col-md-2">
    <div uib-timepicker hour-step="1" minute-step="1" show-spinners="false"
      mousewheel="false" pad-hours="false"
      ng-model-options="{ debounce:800 }" ng-change="$ctrl.saveSettings()"
      ng-model="$ctrl.settings.workEndTimes[$index]"></div>
  </div>
</div>
